@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Marck+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/images/bg-image.jpg);
}

/* INDEX PAGE (LOGIN PAGE) */
.form-login{
    margin: auto 30%;
}

.form-login{
    border: 1px solid white;
    margin: 50px o;
    padding: 20px 30px;
}
.form-login p{
    text-align: center;
    color: white;
}
#login-link{
    color: red;
}
#signup-link{
  color: red;
}
h1{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 3%;
    font-size: 80px;
    font-family: 'Marck Script', cursive;
    color: whitesmoke;
}
h2{
    text-align: center;
    /* margin-bottom: 1%; */
    /* margin-top: 3%; */
    font-size: 50px;
    font-family: 'Marck Script', cursive;
    color: whitesmoke;
}
 input, #login-form label{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: whitesmoke;
    display: block;
    color: black;
    border-radius: 20px;
    font-family: 'Handlee', cursive;
    font-weight: 500;
    
}
::placeholder {
    color: black;
  }


.footer-content p{
    margin-top: 8%;
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
    background-color: rgb(32, 28, 28);
}
.footer{
    justify-content: baseline;
}
/* Dashboard */

  .nav-bar {
    background-color: black;
    overflow: hidden;
  }
  .nav-bar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav-bar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 50px;
  }
  
  /* Add a color to the active/current link */
  .nav-bar a.active {
    background-color: #04AA6D;
    color: white;
  }
 
  .main-dashboard{
    display: flex;
  }
  .main-dashboard :first-child {
    width: 250px;
    max-width: 250px;
  }
  .main-dashboard :second-child {
    width: 829px;
  }

  .side-bar{
    background-color: #151560;
    height: 92vh;
    background-image: url(/images/side-bar-img.jpg);
  }
  .side-bar a{
    display: block;
    font-size: 25px;
    padding: 10px;
    margin-left: 20px;
    color: #f2f2f2;
    text-decoration: none;
  }
  .side-bar a:hover{
    background-color: #f2f2f2;
    color: #000;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .side-bar h2{
    padding: 0px 10px;
    font-size: 55px;
    margin-left: -4px;
    color: #f2f2f2;
    font-family: 'Marck Script', cursive;
    margin-bottom: 20px;

  }
  .display-area{
    /* background-color: #ddd; */
    justify-content: center;
    text-align: center;

  }
  .add-file{
    margin: 30% 60% ;
    padding: 40px 100px;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/images/box-img.png);
    border-radius: 40px;

  }
  #file::-webkit-file-upload-button{
    text-decoration: none;
    background: #000;
    color: #ddd;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Handlee', cursive;
  }
  #file-upload{
    padding: 18px;
  }

